@import 'tailwindcss';

* {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeue-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.woff2') format('woff2');
    font-display: swap;
}

@theme {
    --font-montserrat: Montserrat;
    --font-bebas: Bebas Neue;
}
